<footer class="footer">
    <span class="todo-count"><strong>{{tasks().length}}</strong> {{ tasks().length !== 1 ? "items" : "item"}} left</span>
    <ul class="filters">
        <li>
            <a [routerLink]="['/', 'all']" routerLinkActive="selected" >All</a>
        </li>
        <li>
            <a [routerLink]="['/', 'pending']" routerLinkActive="selected"  >Pending</a>
        </li>
        <li>
            <a [routerLink]="['/', 'completed']" routerLinkActive="selected" >Completed</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    @if(filterTasks().length > 0 && filterChange() === "completed") {
        <button class="clear-completed" (click)="handleClickCompleted()">Clear completed</button>
    }
</footer>